$summer-sky: #1E8BC3;
$thunderbird: #D91E18;
$wisteria: #9B59B6;
$haze: #019875;
$lemon: #F7CA18;
$california: #F89406;
$porcelain: #ECF0F1;
$smoke: #ECECEC;
$black: #000;
$white: #fff;
$lynch: #6C7A89;
$bean: #2574A9;

$primary-color-1: $white;
$primary-color-2: $black;
$primary-color-3: $thunderbird;
$primary-color-4: $haze;
$primary-color-5: $porcelain;

$background-color-1: rgba($smoke, 0.5);
$background-color-2: rgba($summer-sky, 0.7);
$background-color-3: rgba($bean, 0.7);
$background-color-4: rgba($smoke, 0.8);
